/* My Header Styles */

@use "../abstracts/breakpoints";
@use "../abstracts/variables";


.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    &__container {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    &__main-container {
        display: flex;
        padding: 1.7rem 0;
    }
    &__menu-right {
        margin: 0;
    }
    &__menu-right li {
        color: variables.$secondary-color;
        display: inline;
        margin: 0 0 0 0.7rem;
    }
    &__top {
        background: #ededed;
        width: 100%;
        display: block;
        padding: 0.5rem 0;
        font-size: 0.83rem;
        font-weight: 400;
    }
    &__contact-details {
        list-style-type: none;
        margin: 0;
    }
    &__phone, &__mail {
        display: inline;
        color: #bababa;
    }
    &__left {
        width: 200px;
        margin-right: 70px;
    }
    &__left .custom-logo-link {
        display: block;
    }
    &__right {
        width: calc(100% - 270px);
        margin-right: 0;
        margin-left: auto;
    }
    &__icon-phone {
        margin-right: 7px;
        margin-left: 0px;
    }
    &__icon-email {
        margin-right: 7px;
        margin-left: 8px;
    }
    &__main-menu {
        margin: 0;
        padding: 0;
    }
    &__main-menu li {
        display: inline-block;
        color: variables.$secondary-color;
        padding: 0 1.9vw 14px 0;
    }
}

.is-search-icon {
    color: white;
    background: variables.$primary-color;
}
.is-form-style .is-search-submit path {
  fill: white;
}

